@inherits LayoutComponentBase

@* Core Blazor namespaces *@
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.AspNetCore.Components.Authorization

@* Application namespaces *@
@using BlazorDemo.Components
@using BlazorDemo.Shared
@using BlazorDemo
@using BlazorDemo.Layout
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="logo-container">
                <img src="/favicon.png" alt="Logo" class="logo" />
            </div>
            <a href="https://x.com/donaldwsmithjr" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
