@namespace BlazorDemo.Layout
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <a class="nav-link @(currentPage == "" ? "active" : "")" href="/" @onclick:preventDefault @onclick="NavigateToHome">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link @(currentPage == "counter" ? "active" : "")" href="/counter" @onclick:preventDefault @onclick="NavigateToCounter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link @(currentPage == "weather" ? "active" : "")" href="/weather" @onclick:preventDefault @onclick="NavigateToWeather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </a>
        </div>
    </nav>
</div>
